* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position-y: 25vh;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(255, 255, 255);
}
table {
    position: absolute;
    top: 50vh;
    left: 14vh;
    transform: translate(220%, 50%);
}

table, th, td {
    font-size: 4vh;
    border: 1px solid black;
  }

.video {
    height: 75vh;
    width: 100vh;
    position: absolute;
    border: solid 0.5vw;
    border-radius: 2vw;
    border-color: #1c1c1c;
    left: 50vw;
    top: 40vh;
    transform: translate(-50%, 70%);
}

.logo {
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 7.5vw;
    transform: translate(-50%, -50%);
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    padding: 0.5vh;
}

.topnav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 2vh 2vw;
    font-size: 1.2vw;
    color: rgb(25, 25, 25);
    background-color: #dcdcdc;
    border-radius: 5%;
    text-decoration: none;
    margin: 0.2vw;
    display: inline-block;
    transition: width 2s;
}

.topnav button {
    height: 50px;
    width: 100px;
}

.topnav a:hover {
    text-decoration: underline;
    color: black;
    text-decoration-thickness: 0.1vh;
}

.topnav a:active {
    background-color: #ababab;
}

.titel1 {
    padding: 0 2vw;
    border: 0.5vw solid #1c1c1c;
    border-style: dashed;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 9vw;
    top: 76vh;
    left: 50vw;
    transform: translate(-50%, -260%);
}

.titel3 {
    width: 65vw;
    padding: 0 1vw;
    border: 0.75vw solid #1c1c1c;
    border-style: dashed;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 9vw;
    top: 26vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.titel5 {
    width: 85vw;
    padding: 0 1vw;
    border: 0.75vw solid #1c1c1c;
    border-style: dashed;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 7vw;
    top: 26vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.titel4 {
    width: 65vw;
    padding: 0 2vw;
    border: 1vw solid #1c1c1c;
    border-style: dashed;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 7vw;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.square1 {
    display: flex;
    background-color: rgb(227, 227, 227);
    border-radius: 2vw;
    border: double #1c1c1c;
    position: absolute;
    height: 60vh;
    width: 20vw;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square2 {
    display: flex;
    opacity: 80%;
    border-top-style: double;
    border-bottom-style: double;
    background-color: rgb(227, 227, 227);
    position: absolute;
    height: 60vh;
    width: 100vw;
    top: 23vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square3 {
    opacity: 80%;
    border-top-style: double;
    border-bottom-style: double;
    background-color: rgb(227, 227, 227);
    position: absolute;
    height: 30vh;
    width: 100vw;
    top: 17vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square4 {
    border-color: #999;
    border-style: double;
    background-color: rgb(226, 226, 226);
    position: absolute;
    height: 63vh;
    width: 95vw;
    top: 62vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square5 {
    border-style: double;
    background-color: rgb(234, 234, 234);
    position: absolute;
    height: 50vh;
    width: 20vw;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square6 {
    border-style: double;
    background-color: rgb(246, 246, 246);
    position: absolute;
    height: 40vh;
    width: 68vw;
    top: 81vh;
    left: 38vw;
    transform: translate(-50%, -20%);
}

.square7 {
    border-style: double;
    background-color: rgb(246, 246, 246);
    position: absolute;
    height: 10vh;
    width: 30vw;
    top: 63.6vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square8 {
    border-color: #999;
    border-style: double;
    background-color: rgb(226, 226, 226);
    position: absolute;
    height: 40vh;
    width: 60vw;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square9 {
    border-color: #999;
    border-style: double;
    background-color: rgb(226, 226, 226);
    position: absolute;
    height: 10vh;
    width: 95vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.square10 {
    border-color: #999;
    border-style: double;
    background-color: rgb(226, 226, 226);
    position: absolute;
    height: 63vh;
    width: 60vw;
    top: 62vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

.titel2 {
    display: flex;
    padding: 0 2vw;
    border: 0.4vw solid #1c1c1c;
    border-style: dashed;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 9.5vw;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -260%);
}

h4 {
    padding: 0 2vw;
    border: 0.5vw dotted #1c1c1c;
    border-radius: 5%;
    position: absolute;
    text-align: center;
    font-size: 4.5vw;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -260%);
}

.text_interview {
    text-align: center;
    font-size: 0.9vw;
    position: absolute;
    height: 45vh;
    width: 45vw;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -20%);
}

h5 {
    position: absolute;
    font-size: 2.5vw;
    text-align: left;
    top: 75vh;
    left: 13vw;
    transform: translate(-50%, -20%);
}

h6 {
    position: absolute;
    font-size: 1.35vw;
    text-align: left;
    top: 81vh;
    left: 12.5vw;
    transform: translate(-50%, -20%);
}

.text2 {
    position: absolute;
    font-size: 1vw;
    text-align: left;
    width: 60vw;
    top: 86vh;
    left: 4.8vw;
    transform: translate(0%, -20%);
}

.contact_link1 a {
    background-color: #747474;
    color: white;
    padding: 1.4vh 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    font-size: 2.5vw;
    width: auto;
    box-shadow: 0 0.9vh #999;
    top: 67vh;
    left: 30vw;
    transform: translate(0%, -20%);
}

.contact_link1 a:hover {
    background-color: #585858;
}

.contact_link1 a:active {
    background-color: #3e3e3e;
    box-shadow: 0 5px #666;
    top: 68vh;
}

.contact_link2 a {
    background-color: #747474;
    color: white;
    padding: 1.4vh 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    font-size: 2.5vw;
    width: auto;
    box-shadow: 0 0.9vh #999;
    top: 67vh;
    right: 30vw;
    transform: translate(0%, -20%);
}

.contact_link2 a:hover {
    background-color: #585858;
}

.contact_link2 a:active {
    background-color: #3e3e3e;
    box-shadow: 0 5px #666;
    top: 68vh;
}

form {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

textarea {
    height: 20vh;
    width: 30vh;
}

.img1 {
    height: 50vh;
    position: absolute;
    top: 102vh;
    left: 15vw;
    transform: translate(-50%, -50%);
}

.text_square4 {
    font-size: 7vh;
    position: absolute;
    height: 10vh;
    width: 94vw;
    top: 65vh;
    left: 3vw;
    text-align: center;
}

.text_square5 {
    font-size: 3vh;
    position: absolute;
    height: 10vh;
    width: 94vw;
    top: 49.5vh;
    left: 3vw;
    text-align: left;
}

.text_square7 {
    font-size: 1.25vw;
    text-align: center;
    position: absolute;
    height: 10vh;
    width: 94vw;
    top: 65vh;
    left: 3vw;
}

.img3 {
    height: 40vh;
    position: absolute;
    top: 95vh;
    left: 86vw;
    transform: translate(-50%, -50%);
}

.socials {
    height: 20vh;
    position: absolute;
    top: 46.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.DarkModeKnop {
    height: 75px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 96vw;
    top: 2.5vw;
}

.darkmode {
    color: white;
    background-color: #000000;
}

.darkmode-square {
    background-color:rgb(25, 25, 25);
}

.darkmode-topnav {
    background-color: #141414;
    color:#3e3e3e
}
